@import '../node_modules/materialize-css/sass/components/_color.scss';

$roboto-font-path: '../node_modules/materialize-css/fonts/roboto/';
$primary-color: color('blue', 'darken-1');
$secondary-color: color('blue', 'lighten-3');

@import '../node_modules/materialize-css/sass/materialize';